## Emacs Backup Files
*~
\#*\#

## Vim Temp Files
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Temporary files/directories
**/.dep
**/build
**/sim
.*.env_backup
.profile
.bash_history
tools/gcc/gcc-arm-none-eabi-*

# Doxygen documentation
**/docs/html
**/docs/latex
**/docs/doxygen*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables/Binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.dfu
*.prlgunit
*.mnlgxdunit
*.ntkdigunit
*.drmlgunit
*.nts1mkiiunit
*.nts3unit
*.mk2unit

# Debug files
*.dSYM/
*.su

# VS Code config
.vscode/

# Mac ds_store
**/.DS_Store
ripplerx_2_3.patch
platform/drumlogue/resonator/config.mk

#other projects used for exmaple only
platform/drumlogue/resonator/**
platform/drumlogue/loguePADS/**
docker/run_interactive.sh.bak
.sudo_as_admin_successful
docker/docker-app/builder/get_microkorg2_toolchain.sh
docker/docker-app/microkorg2/environment
platform/ext/CMSIS
