---
layout: default_ja
---
<article class="post">

  <header class="post-header">
    {%- if page.title_long -%}
    <h1 class="post-title">{{ page.title_long | escape }}</h1>
    {%- else -%}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {%- endif -%}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {%- if page.last_modified_on -%}
  <div class="date">
    <p> Last updated on {{ page.last_modified_on | date: '%B %d, %Y' }}</p>
  </div>
  {%- endif -%}
  
</article>
